*
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*font-size: 10px; prvo smo stavili ovo, pa smo presli na procenat u odnosu na 16px, koliko je default po browseru*/
    font-size: 62.5%; /*10/16*100*/

}

body {

    box-sizing: border-box;    
}